<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21143208500-d9shuboq74nvufepjjlt8v22l4nms6hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21143208500-d9shuboq74nvufepjjlt8v22l4nms6hi</string>
	<key>API_KEY</key>
	<string>AIzaSyAwxgRuNGCLVe6sgcyJH-zZdPwky4FrUDM</string>
	<key>GCM_SENDER_ID</key>
	<string>21143208500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.933910582.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>cs492-project-5-wasteagram</string>
	<key>STORAGE_BUCKET</key>
	<string>cs492-project-5-wasteagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21143208500:ios:7634ec4e8192401a50c061</string>
</dict>
</plist>